body {
    font-family: Arial,sans-serif;
    color: #292f33;
  }
  
  /* This element would be replaced by where you want the templates. */
  .tweetEntry-tweetHolder {
    border-left: 1px solid #e1e8ed;
    border-right: 1px solid #e1e8ed;
    border-top: 1px solid #e1e8ed;
    width: 588px;
    margin: auto;
    border-radius: 5px;
  }  
  
  /* The action list is optional. */
  .tweetEntry-action-list {
    display: block;
    line-height: 18px;
    margin-left: 58px;
    margin-top: 10px;
    color: #292f33;
  }
  .fa-reply:hover {
    color: #292f33;
  }
  .fa-retweet:hover {
    color: #5cd65c;
  }
  .fa-heart:hover {
    color: #ff3333;
  }
  /************************/
  
  .tweetEntry {
    border: 1px solid #18dcff;
    min-height: 51px;
    padding: 9px 12px;
    box-shadow: 0 0 5px #4b4b4b;
    background: #222f3e;
  }
  .tweetEntry-content {
    display: block;
    font-size: 14px;
    margin-left: 58px;
    font-size: 14px;
  }
  .tweetEntry-account-group {
    color: #8899a6;
    padding: 0px;
    text-decoration: none;
    line-height: 20px;
  }
  .tweetEntry-avatar {
    float: left;
    height: 48px;
    width: 48px;
    margin-left: -60px;
    border-radius: 50%;
    border: 2px solid #18dcff;
  }
  .tweetEntry-fullname {
    font-size: 17px;
    color: #18dcff;
    padding: 0px;
    margin-top: 8px;
  }
  .tweetEntry-username {
    font-weight: bold;
    font-size: 14px;
    color: #b1bbc3;
    padding: 0px;
  }
  .tweetEntry-timestamp {
    font-size: 14px;
    color: #b1bbc3;
    padding: 0px;
  }
  .tweetEntry-text-container {
    font-size: 14px;
    color: #292f33;
    line-height: 18px;
    min-height: 100px;
    width: 100%;
    padding: 30px 10px 30px;
    margin-top: 15px;
    background: #48dbfb;
    border: 1px solid #18dcff;
    -moz-box-shadow:    inset 0 0 10px #1e272e;
    -webkit-box-shadow: inset 0 0 10px #1e272e;
    box-shadow:         inset 0 0 10px #1e272e;
    text-align: center;
  }
  
  .optionalMedia {
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .optionalMedia-img {
    float: left;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 200px;
    
  }
  .details{
    width: 260px;
    height: 160px;
    margin-left: 10px;
    float: left;
  }
  .icon_check{
    width: 15px;
    height: 15px;
  }
  .space-top {
    margin-top: 20px;
  }
  
  .currency {
    color: orangered;
    font-weight: bold;
  }

  .user-link {
    color: #0984e3;
    font-weight: bold;
    cursor: pointer;
  }

  .user-link:hover {
    opacity: 0.8;
  }

  .address-content {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #00cec9;
  }
  .address-content-title {
    text-align: center;
  }

  .following-content-container {
    text-align: center;
  }

  .following-content-title {
    color: #eb2f06;
    font-size: 16px;
    font-weight: bold;
  }

  .post-entry-row {
    margin: 0!important;
  }

  .right-column-container {
    width: 100%;
  }

  .post-img-container {
    padding: 10px;
  }