ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #DCDCDC;
    width: 100%;
  }
li {
    float: left;
  }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: white;
}
.space {
    margin-left: 360px;
}