/* .Img_Wall {
    background: #4169E1;
    height: 150px;
    width: 100%;
} */
    .Img_Wall img{
    background: #4169E1;
    height: 300px;
    width: 100%;
}
.avatar {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    margin-left: 2%; 
}
.avatar img {
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #ecf0f1;
    position: relative; 
}
.avatar_div {
    width: 200px;
    height: 200px;
    margin-top: -90px;
    margin-left: 90px;
}
