/* .Img_Wall {
    background: #4169E1;
    height: 150px;
    width: 100%;
} */
.Img_Wall img{
    background: #4169E1;
    height: 300px;
    width: 100%;
}
.avatar {
    float: left;
    width: 100%;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    margin-left: 2%; 
}
.avatar img {
    width: 100%;
    width: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #ecf0f1;
    position: relative;
}
.avatar_div {
    width: 200px;
    height: 200px;
    margin-top: -180px;
    margin-left: 90px;
}
.UserName {
    /* float: right; */
    width: 500px;
    padding-top: 80px;
    margin-left: 220px;
}
.total{
    font-size: 30px;
    color: white;
}